:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 3.4rem;
    color: var(--blanco);
    font-weight: normal;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.6rem;
    font-family: var(--fuenteParrafos);
}
img {
    max-width: 100%;
}
a {
    font-size: 1.8rem;
    text-decoration: none;
    font-family: var(--fuenteHeading);
}
ul {
    list-style: none;
    padding-left: 0;
}
span {
    font-weight: bold;
}
/** GLOBALES */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/** UTILITY */
.no-margin {
    margin: 0;
}
.two-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
@media (max-width: 768px) {
    .two-columns {
        grid-template-columns: 1fr;
    }
}
.bg-black {
    background-color: var(--negro);
}
.txt-align {
    text-align: center;
}

/** HEADER */
.header {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 60rem;
    padding-top: 1rem;
    color: var(--blanco);
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra__navegacion {
    display: flex;
    column-gap: 2rem;
}
.barra__enlace {
    color: var(--blanco);
}
.header__texto {
    margin-top: 15rem;
    text-align: center;
}
.entradas {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.entrada__texto {
    text-align: justify;
    margin-bottom: 4rem;
}
.entrada__boton {
    background-color: var(--negro);
    text-transform: uppercase;
    color: white;
    padding: 1rem 2rem;
    margin-top: 2rem;
}
.widget-curso {
    padding: 3rem 0;
}
.widget-curso:first-of-type {
    border-bottom: 1px solid var(--negro);
}
.widget-curso__boton {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.footer {
    margin-top: 5rem;
}

/** NOSOTROS */
main {
    padding: 5rem 0;
}
.nosotros {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 4rem;
    align-items: center;
}
.nosotros__texto p{
    font-size: 2rem;
}
